<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Images</title>
    <style>
        .image-container {
            margin-bottom: 20px;
        }
        .image-container img {
            width: 300px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Uploaded Images</h1>
    {% for image in images %}
        <div class="image-container">
            <img src="{{ url_for('static', filename='uploaded_images/' + image[1]) }}" alt="{{ image[1] }}">
            <p>Sender: {{ image[2] }}</p>
            <p>Caption: {{ image[3] }}</p>
        </div>
    {% endfor %}
</body>
</html>
